header.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--navbackground);
  z-index: 100;
  box-shadow: 0 2px 4px rgba(#000000, 0.5);
  position: fixed;
  top: 0;
  .logo {
    font-family: var(--font-heading);
    font-size: 1.2rem;
  }
  div, a {
    margin: 0.5em 1em;
    padding: 4px 8px;
    color: var(--navtext);
    text-decoration: none;
  }
  nav {
    display: flex;
  }
}