header.navbar {
  nav {
    background: var(--navbar-background);
    background-image: url(/assets/images/3px-tile.png);
    color: var(--white);
    .show {
      color: var(--black);
    }
    .brand {
      font-family: Oswald;
      font-size: 1.5em;
      svg {
        height: 30px;
        transition: 0.4s;
        fill: var(--primary)
      }
    }
    .subscribe {
      background: var(--primary) !important;
    }
    .burger {
      font-size: 2em;
    }
    .menu {
      text-transform: uppercase;
      a {
        @extend .button;
      }
      i {
        margin-right: 0.3em;
      }
      #home-link {
        @extend .none-900;
      }
    }
  }

}
nav .show:checked ~ .menu {
  background: var(--primary);
  a {
    width: 100%;
  }
}
