main {
  h1,h2,h3 {
    line-height: 1.5;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
}
main.page {
  display: flex;
  justify-content: center;
  width: 95%;
  article {
    padding-bottom: 1in;
    // width: 80%;
    max-width: 40em;
    a {
      text-decoration: underline;
    }
    ul {
      list-style: disc;
      margin-left: 2em;
      ul {
        list-style: circle;
      }
      &+p {
        margin-top: 1.5em;
      }
    }
    a {
      color: var(--href);
    }
    color: var(--foreground);
    max-width: 60em;
    width: 80%;
    margin-top: 60px;
    h1 {
      font-family: var(--font-heading);
    }
    p {
      &+p {
        margin-top: 1em;
      }
    }
  }
}
