main.contents {
  padding-top: 4em;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  aside {
    font-size: 0.9rem;
    flex: 1 0 25%;
    padding: 1em;
    h2,h3 {
      font-size: 1.0rem;
      font-family: var(--system-font);
    }
    h2 {
      text-transform: uppercase;
    }
    ul {
      font-family: var(--system-font);
      list-style: none;
      padding: 0;
      ul {
        padding-left: 1em;
      }
    }
  }
  article {
    padding: 1em;
    flex: 3 0 75%;
    width: 100%;
    min-width: 500px;
  }
}
